<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<div id="app">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {% if watch %}
        <script src="http://localhost:8080/main.js"></script>
    {% else %}
        <script src="{{ asset('build/main.js') }}?34343"></script>
    {% endif %}
{% endblock %}

</body>
</html>
